@import '../../style/default.less';
.logo{
    line-height:90px;
    padding-left:20px;
    background-color: @colorS;
    display:flex;
    align-items: center;
    img{
        height:35px;
    }
    h1{
        color:#fff;
        font-size:@fontG;
        margin:0 0 0 10px;
    }
}