@import './default.less';
@import './loading.less';
.container{
    .nav-left{
        height:100vh;
        color:#fff;
        background-color: @colorR;
    }
    .main{
        flex:1;
        height:100vh;
        background-color:@colorL;
        overflow:auto;
    }
    .content{
        position: relative;
        padding:20px;
    }
}
.table-content-wrap{
    background-color: #fff;
    border:1px solid #e8e8e8;
    margin-top:-2px;
    .ant-table-wrapper{
        margin-left:-1px;
        margin-right:-1px;
    }
}

// common 页面简单头
.simple-page{
  .header-top{
    background:#1890ff;
    color:@colorM;
  }
  .ant-form,
  .ant-col-12,
  .weather{
    display:none;
  }
}