@import './default.less';
@import './loading.less';
.container{
    .nav-left{
        height:100vh;
        color:#fff;
        background-color: @colorR;
    }
    .main{
        flex:1;
        height:100vh;
        background-color:@colorL;
        overflow:auto;
    }
    .content{
        position: relative;
        padding:20px;
    }
}